<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <link href="C:\Users\shafna.n\Desktop\assess\css\style1.css" rel="stylesheet">
     </header>
     
     <h1>CAB SERVICE MANAGEMENT</h1>
     <marquee><h1 style="color:black;">S CABS</h1></marquee>
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqNONI5FZslGGV7V9RMeVOWnAX5AHsan_cgQ&usqp=CAU"height="350px"width=100% />
     <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In exercitationem molestiae, temporibus accusamus enim facilis ut, voluptas eos, totam facere consequuntur magni possimus aperiam. Reiciendis provident consequuntur eligendi veniam repudiandae!</p>
     <div class="frame">
       
        <a href="login.html"button class="custom-btn btn-1">SignIn</button> </a>
       

       <a href="register.html"button class="custom-btn btn-2">SignUp</button></a>
       
     </div>
     
</body>
</html>